<h1>Game</h1>
<p>Find me in app/views/game/index.html.erb</p>

<div class="game">
    <div class="gilgamesh_quiz">
        <%= label(:game, :Q1) %>
        <%= radio_button("article", "category", "rails") %>
        <%= radio_button("article", "category", "rails") %>
        <%= radio_button("article", "category", "rails") %>
        <%= radio_button("article", "category", "rails") %>
    </div>
</div>