<h1>Choose Your Servant</h1>
<p>Remember, questions will be on the historical lore, not the myth nor Fate lore.</p>

<div class="sevant" id="gilgamesh">
    <%= image_tag 'https://gamepress.gg/grandorder/sites/grandorder/files/styles/servant_image/public/2017-07/012%20Gilgamesh%203.png?itok=I585eyv8' %>

    <h4>Gilgamesh</h4>
</div>

<div class="servant" id="nero">
    <%= image_tag 'https://gamepress.gg/grandorder/sites/grandorder/files/styles/servant_image/public/2019-04/005%20Nero%20Claudius%203.png?itok=ij-GVPJd' %>

    <h4>Claudius Nero</h4>
</div>

<%= link_to 'Nero', controller: 'game' %>

<div class="servant" id="napoleon">
    <%= image_tag 'https://gamepress.gg/grandorder/sites/grandorder/files/styles/servant_image/public/2018-08/212_Napoleon_3.png?itok=DNpLd2mL' %>

    <h4>Napoleon Bonaparte</h4>
</div>

<div class="servant" id="attila">
    <%= image_tag 'https://gamepress.gg/grandorder/sites/grandorder/files/styles/servant_image/public/2019-04/008%20Altera%203.png?itok=OzVwFYrN' %>

    <h4>Attila the Hun</h4>
</div>

<div class="servant" id="nobunaga">
    <%= image_tag 'https://gamepress.gg/grandorder/sites/grandorder/files/styles/servant_image/public/2019-07/250_Demon%20King%20Nobunaga%20%28Oda%20Nobunaga%29_1_1.png?itok=bAoSE5Xb' %>

    <h4>Oda Nobunaga</h4>
</div>

<div class="servant" id="jeanne">
    <%= image_tag 'https://gamepress.gg/grandorder/sites/grandorder/files/styles/servant_image/public/2017-07/059%20Jeanne%20d%27Arc%201.png?itok=6c82WTjm' %>

    <h4>Jeanne d'Arc</h4>
</div>